# Archivos de la herramienta de construcción
.gradle/
build/

# Archivos de configuración local (¡Muy importante!)
local.properties
.idea/caches/
.idea/libraries/

# Archivos pesados de C++ y NDK
.cxx/
*.externalNativeBuild
*.o
*.so

# Archivos de modelos de IA (importante para tu investigación)
*.bin
*.gguf
*.onnx

# Archivos del sistema
.DS_Store
Thumbs.db